{% extends 'base.html.twig' %}

{% block title %}New Orders{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="container">
        <h1>Create new orders</h1>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <p>Creation time: </p>
                    {{ form_widget(form.creationTime) }}
                </td>
            </tr>
            <tr>
                <td>
                    <p>Last updated: </p>
                    {{ form_widget(form.lastUpdate) }}
                </td>
            </tr>
            <tr>
                <td>{{ form_row(form.comment) }}</td>
            </tr>
            <tr>
                <td>{{ form_row(form.status) }}</td>
            </tr>
            <tr>
                <td>{{ form_row(form.user) }}</td>
            </tr>
            <tr>
               <td>{{ form_row(form) }}</td>
            </tr>
            </tbody>
        </table>
        {{ include('reservation/_form.html.twig') }}
        <a class="btn btn-primary" href="{{ path('app_reservation_index') }}">back to list</a>
    </div>
    {{ form_end(form) }}


{% endblock %}